* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.calc-container {
  display: flex;
  flex-direction: column;
  margin: 120px auto;
  width: 400px;
  gap: 18px;
  border: 1px solid black;
  padding: 44px 22px;
  border-radius: 16px;
}

.calc-display {
  background-color: antiquewhite;
  width: 100%;
  padding: 28px;
  min-height: 120px;
  border-radius: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 48px;
}

.clear-buttons-container {
  display: flex;
  gap: 12px;
}

.clear-buttons {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding: 12px 44px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  background-color: #fff;
  color: rgb(94, 78, 109);
  border: 1px solid rgb(94, 78, 109);
  border-radius: 16px;
}

.clear-button:hover {
  background-color: rgb(94, 78, 109);
  color: #fff;
}

.buttons-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 12px;
}

.calc-buttons {
  padding: 28px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 28px;
  background-color: rgb(94, 78, 109);
  color: #fff;
  border: 1px solid rgb(94, 78, 109);
  border-radius: 16px;
}

.calc-buttons:hover {
  background-color: #fff;
  color: rgb(94, 78, 109);
  border: 1px solid rgb(94, 78, 109);
}
